In [1]:
import pandas as pd

In [6]:
df = pd.read_excel('/Users/hunterowens/Downloads/EPASreportSchoolLevel_20151105.xls', sheetname='Attainment')

In [8]:
df[df['School Name'] == 'CURIE HS']

,School ID,School Name,Network,Test,Subject,Grade,2013,Unnamed: 7,Unnamed: 8,Unnamed: 9,2014,Unnamed: 11,Unnamed: 12,Unnamed: 13,2015,Unnamed: 15,Unnamed: 16,Unnamed: 17
1725,609756,CURIE HS,Network 8,EXPLORE9,English,Grade 9,688,14.9,61.9,22,586,14.7,52,20,NaN,NaN,NaN,NaN
1726,609756,CURIE HS,Network 8,EXPLORE9,Math,Grade 9,688,16.3,31.4,38,586,16,30.9,32,NaN,NaN,NaN,NaN
1727,609756,CURIE HS,Network 8,EXPLORE9,Read,Grade 9,688,14.9,29.8,29,586,14,20.8,14,NaN,NaN,NaN,NaN
1728,609756,CURIE HS,Network 8,EXPLORE9,Science,Grade 9,688,16.5,22.2,25,586,15.9,17.7,14,NaN,NaN,NaN,NaN
1729,609756,CURIE HS,Network 8,EXPLORE9,Composite,Grade 9,688,15.7,NaN,32,586,15.2,NaN,25,NaN,NaN,NaN,NaN
1730,609756,CURIE HS,Network 8,PLAN10,English,Grade 10,567,16.4,64.2,51,660,16.1,66.2,43,NaN,NaN,NaN,NaN
1731,609756,CURIE HS,Network 8,PLAN10,Math,Grade 10,567,17,28.7,33,660,16.6,23.9,28,NaN,NaN,NaN,NaN
1732,609756,CURIE HS,Network 8,PLAN10,Read,Grade 10,567,15,23.8,15,660,15.2,18.8,17,NaN,NaN,NaN,NaN
1733,609756,CURIE HS,Network 8,PLAN10,Science,Grade 10,567,16.9,16.8,24,660,16.9,15,23,NaN,NaN,NaN,NaN
1734,609756,CURIE HS,Network 8,PLAN10,Composite,Grade 10,567,16.4,NaN,34,660,16.3,NaN,33,NaN,NaN,NaN,NaN
1735,609756,CURIE HS,Network 8,ACT11,English,Grade 11,532,16.6,41.2,19,605,17.2,47.3,25,662,17,43.4,24
1736,609756,CURIE HS,Network 8,ACT11,Math,Grade 11,532,18.1,19,26,605,18.3,22.1,29,662,17.7,18.4,23
1737,609756,CURIE HS,Network 8,ACT11,Read,Grade 11,532,17.4,16.2,18,605,17.8,16.9,22,662,17.4,14.5,19
1738,609756,CURIE HS,Network 8,ACT11,Science,Grade 11,532,18.1,11.5,22,605,18.2,17.2,24,662,17.6,12.1,17
1739,609756,CURIE HS,Network 8,ACT11,Composite,Grade 11,532,17.6,NaN,27,605,17.9,NaN,30,662,17.5,NaN,27
1740,609756,CURIE HS,Network 8,EPAS - All Grades,Composite,All Grades,1787,NaN,NaN,31,1851,NaN,NaN,30,662,NaN,NaN,27