# Fesitival Value above Replacement

Thanks to the excellent work of [Rob Mitchum](http://robmitchum.github.io/), I have a database full of the summer of 2015 Fesitval Circut (in the United States) and an rank value (how how in the bill) or each artist. With this, I will attempt to construct a concept of fesitval value over replacement- that is, how valuable is a particular band to a fesitval, inspired by the Wins above Replacement formulas popularized by [Baseball Prospectus](https://www.baseballprospectus.com/glossary/index.php?search=WARP) and [Fangraphs](http://www.fangraphs.com/library/misc/war/).

In [65]:
# First, we need the data. 
import pandas as pd
festival_df = pd.read_csv('2015 Festival Power Rankings - Sheet1.csv', skiprows=[1])
festival_df.drop(festival_df.columns[[1,2,3]],axis=1, inplace=True) # Drop some fields we don't want
festival_df.head()

,ARTIST,COACHELLA,JAZZFEST,SUNFEST,SHAKYKNEES,HANGOUT,BOSCALLING,BUNBURY,GOVBALL,BONNAROO,FIREFLY,FORECASTLE,PITCHFORK,LOLLA,OUTSIDELDS,BUMBERSHT,ACL,OSHEAGA,SASQUATCH
0,My Morning Jacket,NaN,NaN,NaN,NaN,5,3,NaN,6,7,NaN,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Tame Impala,2,NaN,NaN,8,NaN,6,6,13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Run The Jewels,16,NaN,NaN,NaN,NaN,15,NaN,NaN,33,22,NaN,7,NaN,NaN,NaN,NaN,NaN,NaN
3,Odesza,13,NaN,NaN,NaN,23,NaN,NaN,35,45,27,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Sturgill Simpson,41,NaN,NaN,NaN,NaN,NaN,NaN,30,37,31,18,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [66]:
festival_d

ImportError: No module named matplotlib.pyplot